body{
    margin: 0px;
    background-color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-align: center;
    font-weight: 900;
    color: darkred;
    text-decoration: underline;
    text-shadow: 0px 10px 10px darkred;
    margin-bottom: 2rem;
}

.div1{
    border: 8px double black;
    box-shadow: 0px 0px 10px 0px black ;
    border-radius: 4rem;
    width: 60%;
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
    
}

.divm1,.divm2{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 20px auto;
}

.divm2{
    align-items: center;
    
}

.div2{
    border: 8px double black;
    border-radius: 4rem;
    width: 40%;
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px 0px black;
}


#ans{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
ul li,form li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
    padding-left: 0px;
    margin: 5px auto;
    text-align: center;
    
}

label{
    width: 40%;
    /* border: 1px solid red; */
    text-align: center;
}

#adj,.del,.delx{
    width: 33%;
}

.delx,.del{
    text-align: left;
}

#demo1{
    overflow: hidden;
}

form{
    text-align: center;
    overflow: hidden;
}

p{
    display: flex;
    justify-content: center;
    margin: 8px 0px;
}

span{
    width: 35%;
    /* margin: auto 5%; */
}
/* form label,form input{
    margin: 20px 15px;
} */

ul{
    padding-left: 0px;
    overflow: hidden;
}

.del div{
    text-align: left;
}

.del{
    align-items: center;
}

input[type=radio],input[type=checkbox]{
    /* margin-left: 30%; */
    margin-bottom: 5px;
}


#d1 select{
    width: 80%;
    margin-bottom: 5px;
}

#f1 select{
    width: 100%;
    margin-bottom: 5px;
}

.cross{
    box-sizing: border-box;
    border-radius: 50%;
    padding: 3px 7px;
    border: 3px solid darkred;
    font-weight: bold;
    background-color: whitesmoke;
    color: darkred;
    cursor: pointer;
}

.cross:hover{
    color: whitesmoke;
    background-color: darkred;
    border: 3px solid tomato;
}

.listyle{
    border: 2px solid saddlebrown;
    box-sizing: content-box;
    padding: 0.5rem;
    border-radius: 20px;
    background-color: wheat;

}

.list{
    animation-name: trans;
    animation-timing-function: linear;
    animation-duration: 1s;
    
}

@keyframes trans {
    from{
        transform: translateX(200%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}




.list1{
    animation-name: trans1;
    animation-timing-function: linear;
    animation-duration: 1s;
    
}

@keyframes trans1 {
    from{
        transform: translateX(-200%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

.up{
    border: none;
    background-color: transparent;
    animation-name: upside;
    animation-timing-function: linear;
    animation-duration: 1s;
}

@keyframes upside {
    from{
        transform: translatey(200%);
        opacity: 0;
    }
    to{
        transform: translatey(0%);
        opacity: 1;
    }
}

.upb{
    animation-name: upside;
    animation-timing-function: linear;
    animation-duration: 1.5s;
}



#b1{
    font-size: 1rem;
    background-color: whitesmoke;
    border: 3px solid darkred;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0.4rem 1rem;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 0px 5px 0px black;
    transition: 0.5s all;
}

#b1:hover{
    background-color: darkred;
    color: whitesmoke;
    box-shadow: 0px 0px 10px 0px black;
    border: 3px solid black;
    
}

#s1{
    font-size: 1.3rem;
    box-shadow: 0px 0px 5px 0px black;
   
}

input{
    color: darkred;
    font-weight: bold;
    border: 1px solid  darkred;
    border-radius: 2px;
}
input::placeholder{
    color: brown;
    font-weight: 600;

    
}

input:focus{
    outline: 1px solid darkred;
    border-radius: 2px;
}


option:hover{
    background:#9C9386;
    color:white;
}

.add{
    border: 1px solid black;
    font-weight: bold;
    color: wheat;
    border-radius: 3px;
    cursor: pointer;
    background-color: darkred;
}

.add:hover{
    background-color: #BC6530;
    color: whitesmoke;
    box-shadow: 0px 0px 4px 0px black;
}

#sub{
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 5px;
    background-color: sandybrown;
    color: white;
    border: 2px solid #645E56;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.5s;
    /* box-shadow: 0px 0px 4px 0px black; */
}

#sub:hover{
    opacity: 1;
    box-shadow:0px 0px 5px 0px black;
    /* background-color: #645E56; */
}

#val{
    
    background-color: #645E56; 
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 5px;
    color: whitesmoke;
    border: 2px solid #645E56;
    margin-top: 10px;
    opacity: 0.6;
    cursor: pointer;
    transition: 0.5s;
}

#val:hover{
    box-shadow:0px 0px 5px 0px black;
    opacity: 1;
}

.selx{
    border: 1px solid darkred;
    border-radius: 2px;
    color: brown;
    background-color: whitesmoke;
    font-size: 1rem;
    font-weight: 600;
}































































































